<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Update Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    .ck-editor__editable[role="textbox"] {
        min-height: 200px;
    }

    .ck-content .image {
        max-width: 80%;
        margin: 20px auto;
    }
</style>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white" th:href="@{/admin}">Admin News Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/}" style="cursor: pointer">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/admin/news}" style="cursor: pointer">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/admin/teacher}" style="cursor: pointer">Teacher</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/admin/subject}" style="cursor: pointer">Subject</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/auth/logout}" style="cursor: pointer">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <form method="post" th:action="@{/admin/news/update/{id}(id=${news.id})}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">News Title</label>
                        <input type="text" class="form-control" id="title" name="title" th:value="${news.title}" required>
                    </div>
                    <div class="form-group">
                        <label for="description">News Description</label>
                        <textarea class="form-control" id="description" rows="3" th:text="${news.description}" required
                                  name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image">News Image</label>
                        <input type="file" class="form-control-file" id="image" name="image" required>
                    </div>
                    <div class="form-group">
                        <label for="body">News Body</label>
                        <textarea class="form-control" id="body" rows="13" th:text="${news.body}" required
                                  name="body"></textarea>
                    </div>
                    <div class="d-flex">
                        <a th:href="@{/admin/news}" class="btn btn-secondary">Back</a>
                        <button type="submit" class="btn btn-primary ml-3">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.ckbox.io/CKBox/1.1.0/ckbox.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/super-build/ckeditor.js"></script>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
    CKEDITOR.ClassicEditor.create(document.getElementById("body"), {
        toolbar: {
            items: [
                'ckbox', 'uploadImage', '|',
                'exportPDF', 'exportWord', '|',
                'findAndReplace', 'selectAll', '|',
                'heading', '|',
                'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                'bulletedList', 'numberedList', 'todoList', '|',
                'outdent', 'indent', '|',
                'undo', 'redo',
                '-',
                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                'alignment', '|',
                'link', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                'textPartLanguage', '|',
                'sourceEditing'
            ],
            shouldNotGroupWhenFull: true
        },
        list: {
            properties: {
                styles: true,
                startIndex: true,
                reversed: true
            }
        },
        heading: {
            options: [
                {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'},
                {model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3'},
                {model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4'},
                {model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5'},
                {model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6'}
            ]
        },
        ckbox: {
            tokenUrl: 'https://91532.cke-cs.com/token/dev/jgTCyRtyz2S8gviBG6gAuQ3QdrAcmu7PFc7b?limit=10'
        },
        placeholder: 'Enter News Body',
        removePlugins: [
            // 'ExportPdf',
            // 'ExportWord',
            'EasyImage',
            'RealTimeCollaborativeComments',
            'RealTimeCollaborativeTrackChanges',
            'RealTimeCollaborativeRevisionHistory',
            'PresenceList',
            'Comments',
            'TrackChanges',
            'TrackChangesData',
            'RevisionHistory',
            'Pagination',
            'WProofreader',
            'MathType'
        ]
    });
</script>
</html>